<a href="https://colab.research.google.com/github/Elmir22/Data-science-ML-models-/blob/main/Neural_Network_Rain_Prediction_with_Pytorch.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [72]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

In [73]:
df = pd.read_csv("/content/weatherAUS.csv")

In [74]:
df

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,NaN

In [75]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [76]:
df.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [77]:
df.RainTomorrow.value_counts()

RainTomorrow
No     110316
Yes     31877
Name: count, dtype: int64

In [78]:
percent_nan = round((df.isna().sum() / len(df)) * 100,2)

In [79]:
percent_nan

Date              0.00
Location          0.00
MinTemp           1.02
MaxTemp           0.87
Rainfall          2.24
Evaporation      43.17
Sunshine         48.01
WindGustDir       7.10
WindGustSpeed     7.06
WindDir9am        7.26
WindDir3pm        2.91
WindSpeed9am      1.21
WindSpeed3pm      2.11
Humidity9am       1.82
Humidity3pm       3.10
Pressure9am      10.36
Pressure3pm      10.33
Cloud9am         38.42
Cloud3pm         40.81
Temp9am           1.21
Temp3pm           2.48
RainToday         2.24
RainTomorrow      2.25
dtype: float64

In [80]:
df.columns

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [81]:
df.Location.value_counts()

Location
Canberra            3436
Sydney              3344
Adelaide            3193
Darwin              3193
Hobart              3193
Perth               3193
Melbourne           3193
Brisbane            3193
Albury              3040
MountGinini         3040
GoldCoast           3040
Wollongong          3040
MountGambier        3040
Launceston          3040
AliceSprings        3040
Albany              3040
Townsville          3040
Bendigo             3040
Cairns              3040
Ballarat            3040
Penrith             3039
Newcastle           3039
Tuggeranong         3039
PerthAirport        3009
Williamtown         3009
Cobar               3009
BadgerysCreek       3009
SydneyAirport       3009
Richmond            3009
Moree               3009
CoffsHarbour        3009
NorfolkIsland       3009
WaggaWagga          3009
Witchcliffe         3009
Watsonia            3009
Dartmoor            3009
Portland            3009
Sale                3009
MelbourneAirport    3009
Mildura             3009
Nuriootpa           3009
Woomera             3009
PearceRAAF          3009
Walpole             3006
NorahHead           3004
SalmonGums          3001
Nhil                1578
Katherine           1578
Uluru               1578
Name: count, dtype: int64

In [82]:
df.Location.nunique()

49

In [83]:
df_sydney = df[df["Location"] == "Sydney"]

In [84]:
df_sydney

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
30176,2008-02-01,Sydney,19.5,22.4,15.6,6.2,0.0,NaN,NaN,S,...,92.0,84.0,1017.6,1017.4,8.0,8.0,20.7,20.9,Yes,Yes
30177,2008-02-02,Sydney,19.5,25.6,6.0,3.4,2.7,NaN,NaN,W,...,83.0,73.0,1017.9,1016.4,7.0,7.0,22.4,24.8,Yes,Yes
30178,2008-02-03,Sydney,21.6,24.5,6.6,2.4,0.1,NaN,NaN,ESE,...,88.0,86.0,1016.7,1015.6,7.0,8.0,23.5,23.0,Yes,Yes
30179,2008-02-04,Sydney,20.2,22.8,18.8,2.2,0.0,NaN,NaN,NNE,...,83.0,90.0,1014.2,1011.8,8.0,8.0,21.4,20.9,Yes,Yes
30180,2008-02-05,Sydney,19.7,25.7,77.4,NaN,0.0,NaN,NaN,NNE,...,88.0,74.0,1008.3,1004.8,8.0,8.0,22.5,25.5,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33515,2017-06-21,Sydney,8.6,19.6,0.0,2.0,7.8,SSE,37.0,W,...,73.0,52.0,1025.9,1025.3,2.0,2.0,10.5,17.9,No,No
33516,2017-06-22,Sydney,9.3,19.2,0.0,2.0,9.2,W,30.0,W,...,78.0,53.0,1028.5,1024.6,2.0,2.0,11.0,18.7,No,No
33517,2017-06-23,Sydney,9.4,17.7,0.0,2.4,2.7,W,24.0,WNW,...,85.0,56.0,1020.8,1015.0,6.0,6.0,10.2,17.3,No,No
33518,2017-06-24,Sydney,10.1,19.3,0.0,1.4,9.3,W,43.0,W,...,56.0,35.0,1017.3,1015.1,5.0,2.0,12.4,19.0,No,No
33519,2017-06-25,Sydney,7.6,19.3,0.0,3.4,9.4,W,35.0,W,...,73.0,32.0,1018.6,1015.4,1.0,1.0,9.4,18.8,No,No

In [85]:
df = df.bfill().dropna()

In [86]:
df.isna().sum()

Date             0
Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustDir      0
WindGustSpeed    0
WindDir9am       0
WindDir3pm       0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [87]:
categorical_cols = df.select_dtypes(include="object").columns
categorical_cols

Index(['Date', 'Location', 'WindGustDir', 'WindDir9am', 'WindDir3pm',
       'RainToday', 'RainTomorrow'],
      dtype='object')

In [88]:
numerical_cols = df.select_dtypes(exclude="object").columns
numerical_cols

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [89]:
df.drop("Date", inplace= True, axis=1)

In [90]:
df = pd.get_dummies(df, drop_first=True).astype(int)

In [91]:
df.shape

(142303, 109)

In [92]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday_Yes,RainTomorrow_Yes
0,13,22,0,12,12,44,20,24,71,22,...,0,0,0,0,0,0,1,0,0,0
1,7,25,0,12,12,44,4,22,44,25,...,0,0,0,0,0,0,0,1,0,0
2,12,25,0,12,12,46,19,26,38,30,...,0,0,0,0,0,0,0,1,0,0
3,9,28,0,12,12,24,11,9,45,16,...,0,0,0,0,0,0,0,0,0,0
4,17,32,1,12,12,41,7,20,82,33,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19,33,0,6,11,35,9,20,63,32,...,0,0,0,0,0,0,0,0,0,0
142299,21,32,0,7,8,37,13,11,56,28,...,0,1,0,0,0,0,0,0,0,0
142300,20,32,0,5,11,33,17,11,46,23,...,0,0,0,0,0,1,0,0,0,0
142301,19,31,0,6,10,26,9,17,62,58,...,0,0,0,0,0,0,0,0,0,0
142302,20,31,0,5,10,30,15,7,73,32,...,0,0,0,0,0,0,0,0,0,0

In [93]:
df.columns[50:109]

Index(['Location_SalmonGums', 'Location_Sydney', 'Location_SydneyAirport',
       'Location_Townsville', 'Location_Tuggeranong', 'Location_WaggaWagga',
       'Location_Walpole', 'Location_Watsonia', 'Location_Williamtown',
       'Location_Witchcliffe', 'Location_Wollongong', 'Location_Woomera',
       'WindGustDir_ENE', 'WindGustDir_ESE', 'WindGustDir_N', 'WindGustDir_NE',
       'WindGustDir_NNE', 'WindGustDir_NNW', 'WindGustDir_NW', 'WindGustDir_S',
       'WindGustDir_SE', 'WindGustDir_SSE', 'WindGustDir_SSW',
       'WindGustDir_SW', 'WindGustDir_W', 'WindGustDir_WNW', 'WindGustDir_WSW',
       'WindDir9am_ENE', 'WindDir9am_ESE', 'WindDir9am_N', 'WindDir9am_NE',
       'WindDir9am_NNE', 'WindDir9am_NNW', 'WindDir9am_NW', 'WindDir9am_S',
       'WindDir9am_SE', 'WindDir9am_SSE', 'WindDir9am_SSW', 'WindDir9am_SW',
       'WindDir9am_W', 'WindDir9am_WNW', 'WindDir9am_WSW', 'WindDir3pm_ENE',
       'WindDir3pm_ESE', 'WindDir3pm_N', 'WindDir3pm_NE', 'WindDir3pm_NNE',
       'WindDir3pm_NNW', 'WindDir3pm_NW', 'WindDir3pm_S', 'WindDir3pm_SE',
       'WindDir3pm_SSE', 'WindDir3pm_SSW', 'WindDir3pm_SW', 'WindDir3pm_W',
       'WindDir3pm_WNW', 'WindDir3pm_WSW', 'RainToday_Yes',
       'RainTomorrow_Yes'],
      dtype='object')

In [94]:
df = df.rename(columns={"RainTomorrow_Yes": "RainTomorrow", "RainToday_Yes": "RainToday"})

In [95]:
df

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,...,WindDir3pm_S,WindDir3pm_SE,WindDir3pm_SSE,WindDir3pm_SSW,WindDir3pm_SW,WindDir3pm_W,WindDir3pm_WNW,WindDir3pm_WSW,RainToday,RainTomorrow
0,13,22,0,12,12,44,20,24,71,22,...,0,0,0,0,0,0,1,0,0,0
1,7,25,0,12,12,44,4,22,44,25,...,0,0,0,0,0,0,0,1,0,0
2,12,25,0,12,12,46,19,26,38,30,...,0,0,0,0,0,0,0,1,0,0
3,9,28,0,12,12,24,11,9,45,16,...,0,0,0,0,0,0,0,0,0,0
4,17,32,1,12,12,41,7,20,82,33,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142298,19,33,0,6,11,35,9,20,63,32,...,0,0,0,0,0,0,0,0,0,0
142299,21,32,0,7,8,37,13,11,56,28,...,0,1,0,0,0,0,0,0,0,0
142300,20,32,0,5,11,33,17,11,46,23,...,0,0,0,0,0,1,0,0,0,0
142301,19,31,0,6,10,26,9,17,62,58,...,0,0,0,0,0,0,0,0,0,0
142302,20,31,0,5,10,30,15,7,73,32,...,0,0,0,0,0,0,0,0,0,0

In [96]:
X = df.drop("RainTomorrow", axis=1)
y = df["RainTomorrow"]

In [97]:
from sklearn.model_selection import train_test_split

In [98]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=42)

In [99]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

#Modelling with Pytorch

In [100]:
import torch
import torch.nn as nn
import torch.optim as optim
import torch.nn.functional as F
from torch.utils.data import TensorDataset, DataLoader

In [101]:
X_train_tensor = torch.tensor(X_train, dtype=torch.float32)
y_train_tensor = torch.tensor(y_train.values, dtype=torch.float32).view(-1, 1)
X_test_tensor = torch.tensor(X_test, dtype=torch.float32)
y_test_tensor = torch.tensor(y_test.values, dtype=torch.float32).view(-1, 1)

In [102]:
train_dataset = TensorDataset(X_train_tensor, y_train_tensor)
test_dataset = TensorDataset(X_test_tensor, y_test_tensor)

In [103]:
train_loader = DataLoader(train_dataset, batch_size=64, shuffle=True)
test_loader = DataLoader(test_dataset, shuffle=True)

In [123]:
class NeuralNet(nn.Module):
    def __init__(self):
        super(NeuralNet, self).__init__()
        self.fc1 = nn.Linear(X_train_tensor.shape[1], 128)
        self.fc2 = nn.Linear(128, 64)
        self.fc3 = nn.Linear(64,1)

    def forward(self, x):
        x = F.relu(self.fc1(x))
        x = F.relu(self.fc2(x))
        x = F.sigmoid(self.fc3(x))
        return x

In [124]:
model = NeuralNet()

In [125]:
n_epochs = 50
learning_rate = 1e-2
optimizer = optim.SGD(params = model.parameters(), lr=learning_rate)
criterion = nn.BCELoss()

In [126]:
def accuracy(y_pred, y_test):
  y_pred_tag = torch.round(y_pred)
  correct_results_sum = (y_pred_tag == y_test).sum().float()
  acc = correct_results_sum/y_test.shape[0]
  acc = torch.round(acc * 100)
  return acc

In [127]:
model.train()

for epoch in range(n_epochs):
  epoch_loss = 0
  epoch_acc = 0
  for X_batch, y_batch in train_loader:
    optimizer.zero_grad()
    y_predicted = model(X_batch)

    acc = accuracy(y_predicted, y_batch)
    loss = criterion(y_predicted, y_batch)

    loss.backward()
    optimizer.step()

    epoch_loss += loss.item()
    epoch_acc += acc.item()

  print(f'Epoch {epoch+1}/{n_epochs} | Loss: {epoch_loss/len(train_loader):.5f} | Acc: {epoch_acc/len(train_loader):.3f}')

Epoch 1/50 | Loss: 0.47104 | Acc: 78.265
Epoch 2/50 | Loss: 0.38434 | Acc: 83.097
Epoch 3/50 | Loss: 0.36887 | Acc: 83.971
Epoch 4/50 | Loss: 0.36067 | Acc: 84.395
Epoch 5/50 | Loss: 0.35463 | Acc: 84.644
Epoch 6/50 | Loss: 0.34983 | Acc: 84.890
Epoch 7/50 | Loss: 0.34541 | Acc: 85.091
Epoch 8/50 | Loss: 0.34186 | Acc: 85.259
Epoch 9/50 | Loss: 0.33866 | Acc: 85.417
Epoch 10/50 | Loss: 0.33585 | Acc: 85.547
Epoch 11/50 | Loss: 0.33340 | Acc: 85.662
Epoch 12/50 | Loss: 0.33123 | Acc: 85.815
Epoch 13/50 | Loss: 0.32891 | Acc: 85.904
Epoch 14/50 | Loss: 0.32714 | Acc: 85.960
Epoch 15/50 | Loss: 0.32531 | Acc: 86.080
Epoch 16/50 | Loss: 0.32338 | Acc: 86.182
Epoch 17/50 | Loss: 0.32178 | Acc: 86.232
Epoch 18/50 | Loss: 0.32033 | Acc: 86.264
Epoch 19/50 | Loss: 0.31883 | Acc: 86.387
Epoch 20/50 | Loss: 0.31753 | Acc: 86.414
Epoch 21/50 | Loss: 0.31618 | Acc: 86.469
Epoch 22/50 | Loss: 0.31470 | Acc: 86.557
Epoch 23/50 | Loss: 0.31357 | Acc: 86.619
Epoch 24/50 | Loss: 0.31235 | Acc: 86.671
Epoch 25/50 | Loss: 0.31142 | Acc: 86.687
Epoch 26/50 | Loss: 0.31016 | Acc: 86.740
Epoch 27/50 | Loss: 0.30921 | Acc: 86.862
Epoch 28/50 | Loss: 0.30819 | Acc: 86.910
Epoch 29/50 | Loss: 0.30707 | Acc: 86.951
Epoch 30/50 | Loss: 0.30600 | Acc: 86.946
Epoch 31/50 | Loss: 0.30530 | Acc: 86.996
Epoch 32/50 | Loss: 0.30432 | Acc: 87.030
Epoch 33/50 | Loss: 0.30324 | Acc: 87.025
Epoch 34/50 | Loss: 0.30274 | Acc: 87.072
Epoch 35/50 | Loss: 0.30132 | Acc: 87.232
Epoch 36/50 | Loss: 0.30092 | Acc: 87.188
Epoch 37/50 | Loss: 0.29977 | Acc: 87.267
Epoch 38/50 | Loss: 0.29899 | Acc: 87.256
Epoch 39/50 | Loss: 0.29822 | Acc: 87.265
Epoch 40/50 | Loss: 0.29746 | Acc: 87.317
Epoch 41/50 | Loss: 0.29661 | Acc: 87.356
Epoch 42/50 | Loss: 0.29602 | Acc: 87.279
Epoch 43/50 | Loss: 0.29512 | Acc: 87.478
Epoch 44/50 | Loss: 0.29451 | Acc: 87.482
Epoch 45/50 | Loss: 0.29356 | Acc: 87.476
Epoch 46/50 | Loss: 0.29290 | Acc: 87.527
Epoch 47/50 | Loss: 0.29192 | Acc: 87.624
Epoch 48/50 | Loss: 0.29125 | Acc: 87.640
Epoch 49/50 | Loss: 0.29068 | Acc: 87.620
Epoch 50/50 | Loss: 0.28989 | Acc: 87.727

In [128]:
model.eval()

with torch.no_grad():
  torch.no_grad()
  y_predicted = model(X_test_tensor)
  prediction_list = (y_predicted > 0.5).int()

In [129]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, f1_score, precision_score, recall_score

In [135]:
print(f"Accuracy:{accuracy_score(y_test, prediction_list)}\n --------------------------")
print(f"F1 Score: {f1_score(y_test, prediction_list)}\n --------------------------")
print(f"Precision: {precision_score(y_test, prediction_list)}\n --------------------------")
print(f"Recall: {recall_score(y_test, prediction_list)}\n --------------------------")
print(f"classification report \n{classification_report(y_test, prediction_list)}\n --------------------------")
print(f"confusion_matrix \n{confusion_matrix(y_test, prediction_list)}\n --------------------------")

Accuracy:0.851842308683329
 --------------------------
F1 Score: 0.6646519272573034
 --------------------------
Precision: 0.7077687443541102
 --------------------------
Recall: 0.6264867566216892
 --------------------------
classification report
              precision    recall  f1-score   support

           0       0.89      0.92      0.90     32686
           1       0.71      0.63      0.66     10005

    accuracy                           0.85     42691
   macro avg       0.80      0.77      0.78     42691
weighted avg       0.85      0.85      0.85     42691

 --------------------------
confusion_matrix
[[30098  2588]
 [ 3737  6268]]
 --------------------------