<a href="https://colab.research.google.com/github/Elmir22/Data-science-ML-models-/blob/main/spark_case_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [136]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [137]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName('Q1').getOrCreate()
sc = spark.sparkContext

In [138]:
df = spark.read.format('csv')\
.option('header', 'true')\
.option('inferSchema', 'true')\
.load('/content/hepatitis(1).csv')

In [139]:
df.show()

+---+------+-------+----------+-------+-------+--------+---------+----------+---------------+-------+-------+-------+---------+-------------+----+-------+-------+---------+-----+
|AGE|   SEX|STEROID|ANTIVIRALS|FATIGUE|MALAISE|ANOREXIA|LIVER_BIG|LIVER_FIRM|SPLEEN_PALPABLE|SPIDERS|ASCITES|VARICES|BILIRUBIN|ALK_PHOSPHATE|SGOT|ALBUMIN|PROTIME|HISTOLOGY|Class|
+---+------+-------+----------+-------+-------+--------+---------+----------+---------------+-------+-------+-------+---------+-------------+----+-------+-------+---------+-----+
| 30|  male|     no|        no|     no|     no|      no|       no|        no|             no|     no|     no|     no|        1|           85|  18|      4|      ?|       no| LIVE|
| 50|female|     no|        no|    yes|     no|      no|       no|        no|             no|     no|     no|     no|      0.9|          135|  42|    3.5|      ?|       no| LIVE|
| 78|female|    yes|        no|    yes|     no|      no|      yes|        no|             no|     no|     no|     no|      0.7|           96|  32|      4|      ?|       no| LIVE|
| 31|female|      ?|       yes|     no|     no|      no|      yes|        no|             no|     no|     no|     no|      0.7|           46|  52|      4|     80|       no| LIVE|
| 34|female|    yes|        no|     no|     no|      no|      yes|        no|             no|     no|     no|     no|        1|            ?| 200|      4|      ?|       no| LIVE|
| 34|female|    yes|        no|     no|     no|      no|      yes|        no|             no|     no|     no|     no|      0.9|           95|  28|      4|     75|       no| LIVE|
| 51|female|     no|        no|    yes|     no|     yes|      yes|        no|            yes|    yes|     no|     no|        ?|            ?|   ?|      ?|      ?|       no|  DIE|
| 23|female|    yes|        no|     no|     no|      no|      yes|        no|             no|     no|     no|     no|        1|            ?|   ?|      ?|      ?|       no| LIVE|
| 39|female|    yes|        no|    yes|     no|      no|      yes|       yes|             no|     no|     no|     no|      0.7|            ?|  48|    4.4|      ?|       no| LIVE|
| 30|female|    yes|        no|     no|     no|      no|      yes|        no|             no|     no|     no|     no|        1|            ?| 120|    3.9|      ?|       no| LIVE|
| 39|female|     no|       yes|     no|     no|      no|       no|       yes|             no|     no|     no|     no|      1.3|           78|  30|    4.4|     85|       no| LIVE|
| 32|female|    yes|       yes|    yes|     no|      no|      yes|       yes|             no|    yes|     no|     no|        1|           59| 249|    3.7|     54|       no| LIVE|
| 41|female|    yes|       yes|    yes|     no|      no|      yes|       yes|             no|     no|     no|     no|      0.9|           81|  60|    3.9|     52|       no| LIVE|
| 30|female|    yes|        no|    yes|     no|      no|      yes|       yes|             no|     no|     no|     no|      2.2|           57| 144|    4.9|     78|       no| LIVE|
| 47|female|     no|       yes|     no|     no|      no|      yes|        no|             no|     no|     no|     no|        ?|            ?|  60|      ?|      ?|       no| LIVE|
| 38|female|     no|        no|    yes|    yes|     yes|      yes|        no|             no|     no|    yes|     no|        2|           72|  89|    2.9|     46|       no| LIVE|
| 66|female|    yes|        no|    yes|     no|      no|      yes|        no|             no|     no|     no|     no|      1.2|          102|  53|    4.3|      ?|       no| LIVE|
| 40|female|     no|        no|    yes|     no|      no|      yes|       yes|             no|     no|     no|     no|      0.6|           62| 166|      4|     63|       no| LIVE|
| 38|female|    yes|        no|     no|     no|      no|      yes|        no|             no|     no|     no|     no|      0.7|           53|  42|    4.1|     85|      yes| LIVE|
| 38|female|     no|       yes|     no|     no|      no|       no|       yes|             no|     no|     no|     no|      0.7|           70|  28|    4.2|     62|       no| LIVE|
+---+------+-------+----------+-------+-------+--------+---------+----------+---------------+-------+-------+-------+---------+-------------+----+-------+-------+---------+-----+
only showing top 20 rows

In [140]:
df.columns

['AGE',
 'SEX',
 'STEROID',
 'ANTIVIRALS',
 'FATIGUE',
 'MALAISE',
 'ANOREXIA',
 'LIVER_BIG',
 'LIVER_FIRM',
 'SPLEEN_PALPABLE',
 'SPIDERS',
 'ASCITES',
 'VARICES',
 'BILIRUBIN',
 'ALK_PHOSPHATE',
 'SGOT',
 'ALBUMIN',
 'PROTIME',
 'HISTOLOGY',
 'Class']

In [141]:
df.toPandas()

,AGE,SEX,STEROID,ANTIVIRALS,FATIGUE,MALAISE,ANOREXIA,LIVER_BIG,LIVER_FIRM,SPLEEN_PALPABLE,SPIDERS,ASCITES,VARICES,BILIRUBIN,ALK_PHOSPHATE,SGOT,ALBUMIN,PROTIME,HISTOLOGY,Class
0,30,male,no,no,no,no,no,no,no,no,no,no,no,1,85,18,4,?,no,LIVE
1,50,female,no,no,yes,no,no,no,no,no,no,no,no,0.9,135,42,3.5,?,no,LIVE
2,78,female,yes,no,yes,no,no,yes,no,no,no,no,no,0.7,96,32,4,?,no,LIVE
3,31,female,?,yes,no,no,no,yes,no,no,no,no,no,0.7,46,52,4,80,no,LIVE
4,34,female,yes,no,no,no,no,yes,no,no,no,no,no,1,?,200,4,?,no,LIVE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150,46,female,yes,no,yes,yes,yes,yes,no,no,yes,yes,yes,7.6,?,242,3.3,50,yes,DIE
151,44,female,yes,no,yes,no,no,yes,yes,no,no,no,no,0.9,126,142,4.3,?,yes,LIVE
152,61,female,no,no,yes,yes,no,no,yes,no,yes,no,no,0.8,75,20,4.1,?,yes,LIVE
153,53,male,no,no,yes,no,no,yes,no,yes,yes,no,yes,1.5,81,19,4.1,48,yes,LIVE
154,43,female,yes,no,yes,no,no,yes,no,yes,yes,yes,no,1.2,100,19,3.1,42,yes,DIE

In [142]:
from pyspark import SQLContext
sqlContext = SQLContext(spark)

/usr/local/lib/python3.11/dist-packages/pyspark/sql/context.py:113: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [143]:
sql = df.registerTempTable('hepatitis')

/usr/local/lib/python3.11/dist-packages/pyspark/sql/dataframe.py:329: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

#1. Using Spark SQL find number of males and females for each class. (in “Hepatitis” data).

In [144]:
sqlContext.sql('Select sex, class, count(*) as count from hepatitis GROUP BY sex, class').show()

+------+-----+-----+
|   sex|class|count|
+------+-----+-----+
|female|  DIE|   32|
|  male| LIVE|   16|
|female| LIVE|  107|
+------+-----+-----+

In [145]:
sqlContext.sql('Select sex, class, count(*) as count from hepatitis GROUP BY sex, class').toPandas()

      sex class  count
0  female   DIE     32
1    male  LIVE     16
2  female  LIVE    107

#2. Find maximum and minimum ages for females. (in “Hepatitis” data).

In [146]:
sqlContext.sql('Select sex, min(age) as min_age, max(age) as max_age from hepatitis where sex = "female" GROUP BY sex').show()

+------+-------+-------+
|   sex|min_age|max_age|
+------+-------+-------+
|female|      7|     78|
+------+-------+-------+

In [147]:
sqlContext.sql('Select sex, min(age) as min_age, max(age) as max_age from hepatitis where sex = "female" GROUP BY sex').toPandas()

      sex  min_age  max_age
0  female        7       78

In [148]:
query = """
Select sex, min(age) as min_age, max(age) as max_age from hepatitis Group By sex
"""

In [149]:
sqlContext.sql(query).show()

+------+-------+-------+
|   sex|min_age|max_age|
+------+-------+-------+
|female|      7|     78|
|  male|     20|     69|
+------+-------+-------+

In [150]:
sqlContext.sql(query).toPandas()

      sex  min_age  max_age
0  female        7       78
1    male       20       69

#Spark ML Lib
task is mainly about building predictive model to predict churn using Big Data –

Spark techniques.

In [151]:
#1. Import churn data (“churn.csv”), explore data.

In [152]:
churn = spark.read.format('csv')\
.option('header', 'true')\
.option('inferSchema', True)\
.load('/content/churn.csv')

In [153]:
churn.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [154]:
churn.columns

['RowNumber',
 'CustomerId',
 'Surname',
 'CreditScore',
 'Geography',
 'Gender',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'Exited']

In [155]:
churn.printSchema()

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

In [156]:
churn.toPandas().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int32
 1   CustomerId       10000 non-null  int32
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int32
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int32
 7   Tenure           10000 non-null  int32
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int32
 10  HasCrCard        10000 non-null  int32
 11  IsActiveMember   10000 non-null  int32
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int32
dtypes: float64(2), int32(9), object(3)
memory usage: 742.3+ KB

In [157]:
churn.toPandas().describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [158]:
churn.toPandas().isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [159]:
churn.toPandas().Exited.value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [160]:
churn.groupby('Exited').count().show()

+------+-----+
|Exited|count|
+------+-----+
|     1| 2037|
|     0| 7963|
+------+-----+

In [161]:
churn.groupby('Exited').mean().show()

+------+-----------------+--------------------+-----------------+-----------------+-----------------+-----------------+------------------+------------------+-------------------+--------------------+-----------+
|Exited|   avg(RowNumber)|     avg(CustomerId)| avg(CreditScore)|         avg(Age)|      avg(Tenure)|     avg(Balance)|avg(NumOfProducts)|    avg(HasCrCard)|avg(IsActiveMember)|avg(EstimatedSalary)|avg(Exited)|
+------+-----------------+--------------------+-----------------+-----------------+-----------------+-----------------+------------------+------------------+-------------------+--------------------+-----------+
|     1|4905.917525773196|1.5690051964653904E7|645.3514972999509| 44.8379970544919|4.932744231713304|91108.53933726063|1.4752086401570939|0.6990672557682867|0.36082474226804123|   101465.6775306824|        1.0|
|     0|5024.694964209469|1.5691167881702876E7|651.8531960316463|37.40838879819164|5.033278914981791|72745.29677885193|1.5442672359663443|0.7071455481602411| 0.5545648624890117|   99738.39177194514|        0.0|
+------+-----------------+--------------------+-----------------+-----------------+-----------------+-----------------+------------------+------------------+-------------------+--------------------+-----------+

In [162]:
churn.schema.fields

[StructField('RowNumber', IntegerType(), True),
 StructField('CustomerId', IntegerType(), True),
 StructField('Surname', StringType(), True),
 StructField('CreditScore', IntegerType(), True),
 StructField('Geography', StringType(), True),
 StructField('Gender', StringType(), True),
 StructField('Age', IntegerType(), True),
 StructField('Tenure', IntegerType(), True),
 StructField('Balance', DoubleType(), True),
 StructField('NumOfProducts', IntegerType(), True),
 StructField('HasCrCard', IntegerType(), True),
 StructField('IsActiveMember', IntegerType(), True),
 StructField('EstimatedSalary', DoubleType(), True),
 StructField('Exited', IntegerType(), True)]

#RDD is immutable (as tuple)

In [163]:
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, DoubleType
print('before')
churn.show()
churn.printSchema()

new_schema = StructType([StructField('RowNumber', IntegerType(), False),
                         StructField('CustomerId', IntegerType(), False),
                         StructField('Surname', StringType(), False),
                         StructField('CreditScore', IntegerType(), False),
                         StructField('Geography', StringType(), False),
                         StructField('Gender', StringType(), False),
                         StructField('Age', IntegerType(), False),
                         StructField('Tenure', IntegerType(), False),
                         StructField('Balance', DoubleType(), False),
                         StructField('NumOfProducts', IntegerType(), False),
                         StructField('HasCrCard', IntegerType(), False),
                         StructField('IsActiveMember', IntegerType(), False),
                         StructField('EstimatedSalary', DoubleType(), False),
                         StructField('Exited', IntegerType(), False)
                         ])

new_df = spark.createDataFrame(churn.rdd, new_schema)
print('after')
new_df.show()
new_df.printSchema()

before
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

root
 |-- RowNumber: integer (nullable = true)
 |-- CustomerId: integer (nullable = true)
 |-- Surname: string (nullable = true)
 |-- CreditScore: integer (nullable = true)
 |-- Geography: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Tenure: integer (nullable = true)
 |-- Balance: double (nullable = true)
 |-- NumOfProducts: integer (nullable = true)
 |-- HasCrCard: integer (nullable = true)
 |-- IsActiveMember: integer (nullable = true)
 |-- EstimatedSalary: double (nullable = true)
 |-- Exited: integer (nullable = true)

after
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

root
 |-- RowNumber: integer (nullable = false)
 |-- CustomerId: integer (nullable = false)
 |-- Surname: string (nullable = false)
 |-- CreditScore: integer (nullable = false)
 |-- Geography: string (nullable = false)
 |-- Gender: string (nullable = false)
 |-- Age: integer (nullable = false)
 |-- Tenure: integer (nullable = false)
 |-- Balance: double (nullable = false)
 |-- NumOfProducts: integer (nullable = false)
 |-- HasCrCard: integer (nullable = false)
 |-- IsActiveMember: integer (nullable = false)
 |-- EstimatedSalary: double (nullable = false)
 |-- Exited: integer (nullable = false)

#Discard unrelevant columns and select numeric columns for modelling. Define “Exited” column as a target and build Pipeline.

In [164]:
churn.show()

+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|RowNumber|CustomerId|  Surname|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        1|  15634602| Hargrave|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        2|  15647311|     Hill|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        3|  15619304|     Onio|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        4|  15701354|     Boni|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        5|  15737888| Mitchell|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        6|  15574012|      Chu|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        7|  15592531| Bartlett|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        8|  15656148|   Obinna|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        9|  15792365|       He|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|       10|  15592389|       H?|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|       11|  15767821|   Bearce|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|       12|  15737173|  Andrews|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|       13|  15632264|      Kay|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|       14|  15691483|     Chin|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|       15|  15600882|    Scott|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|       16|  15643966|  Goforth|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|       17|  15737452|    Romeo|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|       18|  15788218|Henderson|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|       19|  15661507|  Muldrow|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|       20|  15568982|      Hao|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+---------+----------+---------+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

In [165]:
churn = churn.drop(*['RowNumber', 'CustomerId', 'Surname'])

In [166]:
churn.show()

+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|CreditScore|Geography|Gender|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|Exited|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
|        619|   France|Female| 42|     2|      0.0|            1|        1|             1|      101348.88|     1|
|        608|    Spain|Female| 41|     1| 83807.86|            1|        0|             1|      112542.58|     0|
|        502|   France|Female| 42|     8| 159660.8|            3|        1|             0|      113931.57|     1|
|        699|   France|Female| 39|     1|      0.0|            2|        0|             0|       93826.63|     0|
|        850|    Spain|Female| 43|     2|125510.82|            1|        1|             1|        79084.1|     0|
|        645|    Spain|  Male| 44|     8|113755.78|            2|        1|             0|      149756.71|     1|
|        822|   France|  Male| 50|     7|      0.0|            2|        1|             1|        10062.8|     0|
|        376|  Germany|Female| 29|     4|115046.74|            4|        1|             0|      119346.88|     1|
|        501|   France|  Male| 44|     4|142051.07|            2|        0|             1|        74940.5|     0|
|        684|   France|  Male| 27|     2|134603.88|            1|        1|             1|       71725.73|     0|
|        528|   France|  Male| 31|     6|102016.72|            2|        0|             0|       80181.12|     0|
|        497|    Spain|  Male| 24|     3|      0.0|            2|        1|             0|       76390.01|     0|
|        476|   France|Female| 34|    10|      0.0|            2|        1|             0|       26260.98|     0|
|        549|   France|Female| 25|     5|      0.0|            2|        0|             0|      190857.79|     0|
|        635|    Spain|Female| 35|     7|      0.0|            2|        1|             1|       65951.65|     0|
|        616|  Germany|  Male| 45|     3|143129.41|            2|        0|             1|       64327.26|     0|
|        653|  Germany|  Male| 58|     1|132602.88|            1|        1|             0|        5097.67|     1|
|        549|    Spain|Female| 24|     9|      0.0|            2|        1|             1|       14406.41|     0|
|        587|    Spain|  Male| 45|     6|      0.0|            1|        0|             0|      158684.81|     0|
|        726|   France|Female| 24|     6|      0.0|            2|        1|             1|       54724.03|     0|
+-----------+---------+------+---+------+---------+-------------+---------+--------------+---------------+------+
only showing top 20 rows

#One Hot Encoding

In [167]:
numlist = [field.name for field in churn.schema.fields \
           if (isinstance(field.dataType, IntegerType) or isinstance(field.dataType, DoubleType)) and field.name != 'Exited']

In [168]:
#isinstant function
l = [1,2,3]
isinstance(l, list)

True

In [169]:
numlist

['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary']

In [170]:
churn.schema.fields

[StructField('CreditScore', IntegerType(), True),
 StructField('Geography', StringType(), True),
 StructField('Gender', StringType(), True),
 StructField('Age', IntegerType(), True),
 StructField('Tenure', IntegerType(), True),
 StructField('Balance', DoubleType(), True),
 StructField('NumOfProducts', IntegerType(), True),
 StructField('HasCrCard', IntegerType(), True),
 StructField('IsActiveMember', IntegerType(), True),
 StructField('EstimatedSalary', DoubleType(), True),
 StructField('Exited', IntegerType(), True)]

In [171]:
catlist = [field.name for field in churn.schema.fields \
           if isinstance(field.dataType, StringType)]

In [172]:
catlist

['Geography', 'Gender']

In [173]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler

string_indexer = [StringIndexer(inputCol = c , outputCol = 'strindexed_' + c) for c in catlist]

In [174]:
string_indexer

[StringIndexer_1a0e8739d3e6, StringIndexer_a3e4c8243190]

In [175]:
string_indexer += [StringIndexer(inputCol = 'Exited', outputCol = 'label')]

In [176]:
string_indexer

[StringIndexer_1a0e8739d3e6,
 StringIndexer_a3e4c8243190,
 StringIndexer_ab296afaab95]

In [177]:
onehot_encoder = [OneHotEncoder(inputCol = 'strindexed_' + c, outputCol = 'onehot_' + c) for c in catlist]

In [178]:
onehot_encoder

[OneHotEncoder_92c1c63187d7, OneHotEncoder_dfd0692dbb4d]

In [179]:
ONE_stage = []
for c in catlist:
  ONE_stage.append(OneHotEncoder(inputCol = 'strindexed_' + c, outputCol = 'onehot_' + c))
print(ONE_stage)

[OneHotEncoder_75c3932ad79b, OneHotEncoder_ecd2e45b8bba]

In [180]:
feature_columns = numlist + ['onehot_' + c for c in catlist]

In [181]:
feature_columns

['CreditScore',
 'Age',
 'Tenure',
 'Balance',
 'NumOfProducts',
 'HasCrCard',
 'IsActiveMember',
 'EstimatedSalary',
 'onehot_Geography',
 'onehot_Gender']

In [182]:
vectorassambler = VectorAssembler(inputCols = feature_columns, outputCol = 'features')

In [183]:
all_stages = string_indexer + ONE_stage + [vectorassambler]

In [184]:
all_stages

[StringIndexer_1a0e8739d3e6,
 StringIndexer_a3e4c8243190,
 StringIndexer_ab296afaab95,
 OneHotEncoder_75c3932ad79b,
 OneHotEncoder_ecd2e45b8bba,
 VectorAssembler_c1cb59773f5a]

In [185]:
from pyspark.ml import Pipeline
pipeline = Pipeline(stages = all_stages)

In [186]:
pipeline_model = pipeline.fit(churn)

In [187]:
final_columns = feature_columns + ['features', 'label']

In [188]:
churn.groupBy('Geography').count().show()

+---------+-----+
|Geography|count|
+---------+-----+
|  Germany| 2509|
|   France| 5014|
|    Spain| 2477|
+---------+-----+

In [189]:
churn_df = pipeline_model.transform(churn).select(final_columns)

In [191]:
churn_df.show()

+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|CreditScore|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|onehot_Geography|onehot_Gender|            features|label|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|        619| 42|     2|      0.0|            1|        1|             1|      101348.88|   (2,[0],[1.0])|    (1,[],[])|[619.0,42.0,2.0,0...|  1.0|
|        608| 41|     1| 83807.86|            1|        0|             1|      112542.58|       (2,[],[])|    (1,[],[])|[608.0,41.0,1.0,8...|  0.0|
|        502| 42|     8| 159660.8|            3|        1|             0|      113931.57|   (2,[0],[1.0])|    (1,[],[])|[502.0,42.0,8.0,1...|  1.0|
|        699| 39|     1|      0.0|            2|        0|             0|       93826.63|   (2,[0],[1.0])|    (1,[],[])|(11,[0,1,2,4,7,8]...|  0.0|
|        850| 43|     2|125510.82|            1|        1|             1|        79084.1|       (2,[],[])|    (1,[],[])|[850.0,43.0,2.0,1...|  0.0|
|        645| 44|     8|113755.78|            2|        1|             0|      149756.71|       (2,[],[])|(1,[0],[1.0])|[645.0,44.0,8.0,1...|  1.0|
|        822| 50|     7|      0.0|            2|        1|             1|        10062.8|   (2,[0],[1.0])|(1,[0],[1.0])|[822.0,50.0,7.0,0...|  0.0|
|        376| 29|     4|115046.74|            4|        1|             0|      119346.88|   (2,[1],[1.0])|    (1,[],[])|[376.0,29.0,4.0,1...|  1.0|
|        501| 44|     4|142051.07|            2|        0|             1|        74940.5|   (2,[0],[1.0])|(1,[0],[1.0])|[501.0,44.0,4.0,1...|  0.0|
|        684| 27|     2|134603.88|            1|        1|             1|       71725.73|   (2,[0],[1.0])|(1,[0],[1.0])|[684.0,27.0,2.0,1...|  0.0|
|        528| 31|     6|102016.72|            2|        0|             0|       80181.12|   (2,[0],[1.0])|(1,[0],[1.0])|[528.0,31.0,6.0,1...|  0.0|
|        497| 24|     3|      0.0|            2|        1|             0|       76390.01|       (2,[],[])|(1,[0],[1.0])|[497.0,24.0,3.0,0...|  0.0|
|        476| 34|    10|      0.0|            2|        1|             0|       26260.98|   (2,[0],[1.0])|    (1,[],[])|[476.0,34.0,10.0,...|  0.0|
|        549| 25|     5|      0.0|            2|        0|             0|      190857.79|   (2,[0],[1.0])|    (1,[],[])|(11,[0,1,2,4,7,8]...|  0.0|
|        635| 35|     7|      0.0|            2|        1|             1|       65951.65|       (2,[],[])|    (1,[],[])|[635.0,35.0,7.0,0...|  0.0|
|        616| 45|     3|143129.41|            2|        0|             1|       64327.26|   (2,[1],[1.0])|(1,[0],[1.0])|[616.0,45.0,3.0,1...|  0.0|
|        653| 58|     1|132602.88|            1|        1|             0|        5097.67|   (2,[1],[1.0])|(1,[0],[1.0])|[653.0,58.0,1.0,1...|  1.0|
|        549| 24|     9|      0.0|            2|        1|             1|       14406.41|       (2,[],[])|    (1,[],[])|[549.0,24.0,9.0,0...|  0.0|
|        587| 45|     6|      0.0|            1|        0|             0|      158684.81|       (2,[],[])|(1,[0],[1.0])|(11,[0,1,2,4,7,10...|  0.0|
|        726| 24|     6|      0.0|            2|        1|             1|       54724.03|   (2,[0],[1.0])|    (1,[],[])|[726.0,24.0,6.0,0...|  0.0|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
only showing top 20 rows

In [192]:
train, test = churn_df.randomSplit([0.8, 0.2] , seed = 1234)

In [193]:
test.show()

+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|CreditScore|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|onehot_Geography|onehot_Gender|            features|label|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|        350| 40|     0|111098.85|            1|        1|             1|      172321.21|   (2,[0],[1.0])|    (1,[],[])|[350.0,40.0,0.0,1...|  1.0|
|        350| 60|     3|      0.0|            1|        0|             0|      113796.15|   (2,[0],[1.0])|    (1,[],[])|(11,[0,1,2,4,7,8]...|  1.0|
|        405| 31|     5|133299.67|            2|        1|             1|       72950.14|   (2,[1],[1.0])|(1,[0],[1.0])|[405.0,31.0,5.0,1...|  0.0|
|        408| 40|     3|      0.0|            2|        0|             0|      124874.23|   (2,[0],[1.0])|(1,[0],[1.0])|[408.0,40.0,3.0,0...|  0.0|
|        408| 84|     8| 87873.39|            1|        0|             0|      188484.52|   (2,[0],[1.0])|    (1,[],[])|[408.0,84.0,8.0,8...|  1.0|
|        410| 33|     6|125789.69|            1|        0|             0|       66333.56|   (2,[0],[1.0])|(1,[0],[1.0])|[410.0,33.0,6.0,1...|  1.0|
|        410| 35|     7|117183.74|            1|        1|             1|      109733.73|   (2,[0],[1.0])|    (1,[],[])|[410.0,35.0,7.0,1...|  0.0|
|        413| 39|     1|130969.77|            2|        1|             1|      158891.79|   (2,[1],[1.0])|(1,[0],[1.0])|[413.0,39.0,1.0,1...|  0.0|
|        416| 41|    10|122189.66|            2|        1|             0|       98301.61|   (2,[1],[1.0])|    (1,[],[])|[416.0,41.0,10.0,...|  0.0|
|        418| 28|     7| 98738.92|            1|        1|             0|      122190.22|   (2,[0],[1.0])|(1,[0],[1.0])|[418.0,28.0,7.0,9...|  0.0|
|        418| 46|     9|      0.0|            1|        1|             1|        81014.5|   (2,[0],[1.0])|    (1,[],[])|[418.0,46.0,9.0,0...|  1.0|
|        420| 55|     4| 91893.32|            1|        1|             0|      144870.28|       (2,[],[])|    (1,[],[])|[420.0,55.0,4.0,9...|  1.0|
|        421| 28|     8|122384.22|            3|        1|             1|       89017.38|   (2,[1],[1.0])|(1,[0],[1.0])|[421.0,28.0,8.0,1...|  1.0|
|        421| 34|     2|      0.0|            2|        1|             1|       96615.23|   (2,[0],[1.0])|(1,[0],[1.0])|[421.0,34.0,2.0,0...|  0.0|
|        422| 54|     4|      0.0|            2|        1|             1|        7166.71|       (2,[],[])|    (1,[],[])|[422.0,54.0,4.0,0...|  0.0|
|        425| 22|     7|169649.73|            2|        0|             1|       136365.0|       (2,[],[])|    (1,[],[])|[425.0,22.0,7.0,1...|  1.0|
|        426| 34|     9|      0.0|            2|        1|             0|      107876.91|   (2,[0],[1.0])|(1,[0],[1.0])|[426.0,34.0,9.0,0...|  0.0|
|        427| 29|     1|141325.56|            1|        1|             1|        93839.3|   (2,[0],[1.0])|(1,[0],[1.0])|[427.0,29.0,1.0,1...|  0.0|
|        427| 40|     8|      0.0|            2|        1|             1|       82870.75|       (2,[],[])|(1,[0],[1.0])|[427.0,40.0,8.0,0...|  0.0|
|        429| 60|     7|      0.0|            2|        1|             1|      163691.48|   (2,[0],[1.0])|(1,[0],[1.0])|[429.0,60.0,7.0,0...|  0.0|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
only showing top 20 rows

In [194]:
train.show()

+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|CreditScore|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|onehot_Geography|onehot_Gender|            features|label|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
|        350| 39|     0| 109733.2|            2|        0|             0|      123602.11|   (2,[1],[1.0])|(1,[0],[1.0])|[350.0,39.0,0.0,1...|  1.0|
|        350| 51|    10|      0.0|            1|        1|             1|      125823.79|   (2,[0],[1.0])|(1,[0],[1.0])|[350.0,51.0,10.0,...|  1.0|
|        350| 54|     1|152677.48|            1|        1|             1|      191973.49|       (2,[],[])|(1,[0],[1.0])|[350.0,54.0,1.0,1...|  1.0|
|        351| 57|     4|163146.46|            1|        1|             0|      169621.69|   (2,[1],[1.0])|    (1,[],[])|[351.0,57.0,4.0,1...|  1.0|
|        358| 52|     8|143542.36|            3|        1|             0|      141959.11|       (2,[],[])|    (1,[],[])|[358.0,52.0,8.0,1...|  1.0|
|        359| 44|     6|128747.69|            1|        1|             0|      146955.71|   (2,[0],[1.0])|    (1,[],[])|[359.0,44.0,6.0,1...|  1.0|
|        363| 28|     6|146098.43|            3|        1|             0|      100615.14|       (2,[],[])|    (1,[],[])|[363.0,28.0,6.0,1...|  1.0|
|        365| 30|     0|127760.07|            1|        1|             0|       81537.85|   (2,[1],[1.0])|(1,[0],[1.0])|[365.0,30.0,0.0,1...|  1.0|
|        367| 42|     6| 93608.28|            1|        1|             0|      168816.73|       (2,[],[])|(1,[0],[1.0])|[367.0,42.0,6.0,9...|  1.0|
|        373| 42|     7|      0.0|            1|        1|             0|       77786.37|   (2,[0],[1.0])|(1,[0],[1.0])|[373.0,42.0,7.0,0...|  1.0|
|        376| 29|     4|115046.74|            4|        1|             0|      119346.88|   (2,[1],[1.0])|    (1,[],[])|[376.0,29.0,4.0,1...|  1.0|
|        376| 46|     6|      0.0|            1|        1|             0|      157333.69|   (2,[0],[1.0])|    (1,[],[])|[376.0,46.0,6.0,0...|  1.0|
|        382| 36|     0|      0.0|            1|        1|             1|      179540.73|       (2,[],[])|(1,[0],[1.0])|[382.0,36.0,0.0,0...|  1.0|
|        383| 48|     8| 95808.19|            1|        0|             0|      137702.01|       (2,[],[])|    (1,[],[])|(11,[0,1,2,3,4,7]...|  1.0|
|        386| 53|     1|131955.07|            1|        1|             1|       62514.65|       (2,[],[])|    (1,[],[])|[386.0,53.0,1.0,1...|  1.0|
|        395| 34|     5|106011.59|            1|        1|             1|       17376.57|   (2,[1],[1.0])|    (1,[],[])|[395.0,34.0,5.0,1...|  1.0|
|        399| 46|     2|127655.22|            1|        1|             0|      139994.68|   (2,[1],[1.0])|(1,[0],[1.0])|[399.0,46.0,2.0,1...|  1.0|
|        401| 48|     8|128140.17|            1|        1|             0|      175753.55|   (2,[1],[1.0])|(1,[0],[1.0])|[401.0,48.0,8.0,1...|  1.0|
|        404| 54|     4|125456.07|            1|        1|             0|       83715.66|   (2,[1],[1.0])|    (1,[],[])|[404.0,54.0,4.0,1...|  1.0|
|        405| 39|    10|      0.0|            1|        1|             0|      160810.85|   (2,[0],[1.0])|(1,[0],[1.0])|[405.0,39.0,10.0,...|  1.0|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+
only showing top 20 rows

#Train your model. Use different models such as Logistic Regression, Random Forest etc.

In [195]:
from pyspark.ml.classification import LogisticRegression, RandomForestClassifier
log_model = LogisticRegression(featuresCol = 'features', labelCol = 'label').fit(train)

In [196]:
y_pred = log_model.transform(test)
y_pred.show()

+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+--------------------+--------------------+----------+
|CreditScore|Age|Tenure|  Balance|NumOfProducts|HasCrCard|IsActiveMember|EstimatedSalary|onehot_Geography|onehot_Gender|            features|label|       rawPrediction|         probability|prediction|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+--------------------+--------------------+----------+
|        350| 40|     0|111098.85|            1|        1|             1|      172321.21|   (2,[0],[1.0])|    (1,[],[])|[350.0,40.0,0.0,1...|  1.0|[1.62738333282066...|[0.83581086622042...|       0.0|
|        350| 60|     3|      0.0|            1|        0|             0|      113796.15|   (2,[0],[1.0])|    (1,[],[])|(11,[0,1,2,4,7,8]...|  1.0|[-0.5013175447175...|[0.37723109089237...|       1.0|
|        405| 31|     5|133299.67|            2|        1|             1|       72950.14|   (2,[1],[1.0])|(1,[0],[1.0])|[405.0,31.0,5.0,1...|  0.0|[2.11448620887461...|[0.89230320915764...|       0.0|
|        408| 40|     3|      0.0|            2|        0|             0|      124874.23|   (2,[0],[1.0])|(1,[0],[1.0])|[408.0,40.0,3.0,0...|  0.0|[1.52073648321798...|[0.82064690588867...|       0.0|
|        408| 84|     8| 87873.39|            1|        0|             0|      188484.52|   (2,[0],[1.0])|    (1,[],[])|[408.0,84.0,8.0,8...|  1.0|[-2.4014574282537...|[0.08306162779724...|       1.0|
|        410| 33|     6|125789.69|            1|        0|             0|       66333.56|   (2,[0],[1.0])|(1,[0],[1.0])|[410.0,33.0,6.0,1...|  1.0|[1.60512016549107...|[0.83273278284924...|       0.0|
|        410| 35|     7|117183.74|            1|        1|             1|      109733.73|   (2,[0],[1.0])|    (1,[],[])|[410.0,35.0,7.0,1...|  0.0|[2.06358092875932...|[0.88731271980559...|       0.0|
|        413| 39|     1|130969.77|            2|        1|             1|      158891.79|   (2,[1],[1.0])|(1,[0],[1.0])|[413.0,39.0,1.0,1...|  0.0|[1.50968832706839...|[0.81901501234280...|       0.0|
|        416| 41|    10|122189.66|            2|        1|             0|       98301.61|   (2,[1],[1.0])|    (1,[],[])|[416.0,41.0,10.0,...|  0.0|[-0.1020473951402...|[0.47451026751703...|       1.0|
|        418| 28|     7| 98738.92|            1|        1|             0|      122190.22|   (2,[0],[1.0])|(1,[0],[1.0])|[418.0,28.0,7.0,9...|  0.0|[2.04573622101529...|[0.88551607809168...|       0.0|
|        418| 46|     9|      0.0|            1|        1|             1|        81014.5|   (2,[0],[1.0])|    (1,[],[])|[418.0,46.0,9.0,0...|  1.0|[1.66164681592818...|[0.84045894465410...|       0.0|
|        420| 55|     4| 91893.32|            1|        1|             0|      144870.28|       (2,[],[])|    (1,[],[])|[420.0,55.0,4.0,9...|  1.0|[-0.3855396173373...|[0.40479150656896...|       1.0|
|        421| 28|     8|122384.22|            3|        1|             1|       89017.38|   (2,[1],[1.0])|(1,[0],[1.0])|[421.0,28.0,8.0,1...|  1.0|[2.45945491194047...|[0.92125012667982...|       0.0|
|        421| 34|     2|      0.0|            2|        1|             1|       96615.23|   (2,[0],[1.0])|(1,[0],[1.0])|[421.0,34.0,2.0,0...|  0.0|[3.04366924501871...|[0.95450842149400...|       0.0|
|        422| 54|     4|      0.0|            2|        1|             1|        7166.71|       (2,[],[])|    (1,[],[])|[422.0,54.0,4.0,0...|  0.0|[1.15390864038255...|[0.76022412174133...|       0.0|
|        425| 22|     7|169649.73|            2|        0|             1|       136365.0|       (2,[],[])|    (1,[],[])|[425.0,22.0,7.0,1...|  1.0|[2.85609225427113...|[0.94563274612559...|       0.0|
|        426| 34|     9|      0.0|            2|        1|             0|      107876.91|   (2,[0],[1.0])|(1,[0],[1.0])|[426.0,34.0,9.0,0...|  0.0|[2.01568701580811...|[0.88243430037544...|       0.0|
|        427| 29|     1|141325.56|            1|        1|             1|        93839.3|   (2,[0],[1.0])|(1,[0],[1.0])|[427.0,29.0,1.0,1...|  0.0|[2.90044819670922...|[0.94786858843780...|       0.0|
|        427| 40|     8|      0.0|            2|        1|             1|       82870.75|       (2,[],[])|(1,[0],[1.0])|[427.0,40.0,8.0,0...|  0.0|[2.64177511519494...|[0.93350224096394...|       0.0|
|        429| 60|     7|      0.0|            2|        1|             1|      163691.48|   (2,[0],[1.0])|(1,[0],[1.0])|[429.0,60.0,7.0,0...|  0.0|[1.23073051631253...|[0.77394640613398...|       0.0|
+-----------+---+------+---------+-------------+---------+--------------+---------------+----------------+-------------+--------------------+-----+--------------------+--------------------+----------+
only showing top 20 rows

In [197]:
y_pred.select('label', 'prediction').show()

+-----+----------+
|label|prediction|
+-----+----------+
|  1.0|       0.0|
|  1.0|       1.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       1.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       1.0|
|  0.0|       0.0|
|  1.0|       0.0|
|  1.0|       1.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  1.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
|  0.0|       0.0|
+-----+----------+
only showing top 20 rows

#evaluation of logisticregression

In [199]:
y_pred.filter(y_pred.label == y_pred.prediction).count() / y_pred.count()

0.8215369059656218

In [200]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator, MulticlassClassificationEvaluator
evaluator_multi = MulticlassClassificationEvaluator(labelCol = 'label', predictionCol = 'prediction')

In [201]:
acc = evaluator_multi.evaluate(y_pred, {evaluator_multi.metricName: 'accuracy'})

In [202]:
acc

0.8215369059656218

In [203]:
w_precison = evaluator_multi.evaluate(y_pred, {evaluator_multi.metricName: 'weightedPrecision'})

In [204]:
w_precison

0.8069493596225144

In [205]:
w_recall = evaluator_multi.evaluate(y_pred, {evaluator_multi.metricName: 'weightedRecall'})

In [206]:
w_recall

0.8215369059656219

In [208]:
f1 = evaluator_multi.evaluate(y_pred, {evaluator_multi.metricName: 'f1'})

In [209]:
f1

0.7841037907360962

In [211]:
from pyspark.mllib.evaluation import MulticlassMetrics
y_pred_rdd = y_pred.select(['prediction', 'label']).rdd.map(tuple)
metrics = MulticlassMetrics(y_pred_rdd)
confusion_metrics = metrics.confusionMatrix().toArray()
print("confusion_metrics")
print(confusion_metrics)

confusion_metrics
[[1525.   38.]
 [ 315.  100.]]

In [216]:
evaluter = BinaryClassificationEvaluator(rawPredictionCol = 'rawPrediction', metricName = 'areaUnderROC')

In [217]:
roc_auc = evaluter.evaluate(y_pred)

Exception ignored in: <function JavaWrapper.__del__ at 0x7ba1230a3100>
Traceback (most recent call last):
  File "/usr/local/lib/python3.11/dist-packages/pyspark/ml/wrapper.py", line 53, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
                                              ^^^^^^^^^^^^^^
AttributeError: 'BinaryClassificationEvaluator' object has no attribute '_java_obj'

In [218]:
roc_auc

0.7769781621688303